html {
    font-family: 'Nanum Myeongjo', serif;
}

body {
    width: 100%;
    padding-top: 80px;
    background-color: #f8f9fa;
    font-family: 'Nanum Myeongjo', serif;
}

.container {
    padding-top: 10px;
    padding-bottom: 20px;
}

/* Navbar custom css */
header .version-1 {
    height: 106px;
    background-color: #f3f3f3;
    background-repeat: repeat-x;

}
.navbar-nav {
    display:table;
    width:90%;
    margin: 0;
    font-size: 1.5rem;
    color: black;

}
.navbar-nav > li {
    float:none;
    display:table-cell;
    text-align:center;
}
/* DropDown Hover*/

.dropdown:hover>.dropdown-menu {
 display: block;
}
/* carousel custom css */

.owl-container {
    width: 100%;
    height: 40%;
    position: relative;
}

.item .main-img {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
}
/* grid custom css */

.flex-column {
    max-width:500px;
    height: 100%;
    width: 100%;
}

img {
    margin: 5px;
}

.scale {
            transform: scaleY(1.05);
            padding-top: 5px;
        }



.image-title {
    position:absolute;
    text-align:center;
    left:5%;
    right:0;
    top:5%;
    letter-spacing: 3px;
}
.image-description {
    position:absolute;
    text-align: center;
    bottom: 5%;

}
/* footer */

footer {
    padding-top: 20px;
    border-top: 2px solid #d3d3d3;
    color: #777;
    font-size: 14px;
    color: black;

}

a {
    color: inherit;
}
